<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: teal;">
        <div style="overflow:hidden;overflow-y:scroll;width:400px;height:600px;">
    <b>hidden</b>
   
<h1>
        可以使用於區塊元素與內聯元素，自動顯示捲軸如需要限制在某個範圍內避免影響版面配置，
        或是內容當超出範圍時自動變成捲軸呈現方式。
        設定如何處理元素框的顯示內容，主要有四個參數當元素框內容超出元素的矩框時要如何顯示，
        可以使用於區塊元素與內聯元素，自動顯示捲軸如需要限制在某個範圍內避免影響版面配置，<h1>
        或是內容當超出範圍時自動變成捲軸呈現方式。
        設定如何處理元素框的顯示內容，主要有四個參數當元素框內容超出元素的矩框時要如何顯示，
        可以使用於區塊元素與內聯元素，自動顯示捲軸如需要限制在某個範圍內避免影響版面配置，
        或是內容當超出範圍時自動變成捲軸呈現方式。
        設定如何處理元素框的顯示內容，主要有四個參數當元素框內容超出元素的矩框時要如何顯示，
        可以使用於區塊元素與內聯元素，自動顯示捲軸如需要限制在某個範圍內避免影響版面配置，
        或是內容當超出範圍時自動變成捲軸呈現方式。
        設定如何處理元素框的顯示內容，主要有四個參數當元素框內容超出元素的矩框時要如何顯示，</h1>
        可以使用於區塊元素與內聯元素，自動顯示捲軸如需要限制在某個範圍內避免影響版面配置，
        或是內容當超出範圍時自動變成捲軸呈現方式。
        設定如何處理元素框的顯示內容，主要有四個參數當元素框內容超出元素的矩框時要如何顯示，
        可以使用於區塊元素與內聯元素，自動顯示捲軸如需要限制在某個範圍內避免影響版面配置，
        或是內容當超出範圍時自動變成捲軸呈現方式。
        設定如何處理元素框的顯示內容，主要有四個參數當元素框內容超出元素的矩框時要如何顯示，
        可以使用於區塊元素與內聯元素，自動顯示捲軸如需要限制在某個範圍內避免影響版面配置，
        或是內容當超出範圍時自動變成捲軸呈現方式。

 </h1>  </div></div>
</body>
</html>